
// RTL Setting
$left: left;
$right: right;

$site_primary_color: #01b7f2;
$site_secondary_color: #fdb714;
$site_third_color: #72be2e;
$site_fourth_color: #f94068;

$body_font_family: 'Barlow', sans-serif;
$body_font_size: 16px;
$body_font_weight: 400;
$body_line_height: 1.5625;
$body_font_color: #000000;

$nav_menu_color: #6C7578;
$nav_menu_hover_color: #1E2325;

$header_bg_color: #fff;
$sticky_header_bg_color: #FFFFFF;

$website_margin: 50px;

$shadow_color: rgba(253, 183, 20, .5);
$site_logo_height: 0px;
$sticky_logo_height: 0px;
