$site_primary_color: #01b7f2;
$site_secondary_color: #fdb714;
$site_third_color: #72be2e;
$site_fourth_color: #f94068;
$site_logo_height: 39px;
$site_logo_second_height: 26px;
$body_font_family: 'Barlow', sans-serif;
$body_font_size: 16px;
$body_font_weight: 400;
$body_line_height: 1.25;
$body_font_color: #6c7578;
$nav_menu_color: #6c7578;
$nav_menu_second_color: #fff;
$nav_menu_hover_color: #1e2325;
$sticky_header_bg_color: #fff;
$shadow_color: rgba(253, 183, 20, .5);